@charset "utf-8";
@import "reset.css";

header {
  background: url("../assets/images/banner.jpg") no-repeat;
  background-size: cover;
  height: 98vh;
  /*opacity: 0.5;*/
  font-family: 'roboto', sans serif;
  color: #ffffff;
  font-weight: bold;
  filter: grayscale(1);
}
.header--logo {
  padding: 4.6vh 0px 0px 3.5vw;
  letter-spacing: 2px;
  font-size: 3vh;
}
.header--menu {
  padding: 3.5vh 0px 0px 2.8vw ;
  letter-spacing: 2px;
  font-size: 3vh;
}
.header--menu {
  padding: 3.5vh 0px 0px 2.8vw ;
  font-size: 5vh;
}
.header--title {
	top: 22vh;
	left: 2.8vw;
}
.header--title-greetings {
	font-size: 2.2vh;
}
.header--title-name {
	padding-top: 8vh;
	font-size: 7.35vh;
	line-height: 6.2vh;
}
.header--title-slogan {
	padding-top: 3vh;
	line-height: 2.5vh;
}
.header--title-arrow {
	font-size: 3.5vh;
	padding-top: 6vh;
	padding-left: 0.5vw;
}
.aboutUs {
  height: 100vh;
  font-family: 'roboto', sans serif;

}
.aboutUs--line-top {
  border-right: 2px solid black;
  height: 15vh;
  left: 3vw;
}
.aboutUs--content {
  top: 5vw;
  height: 70vh;
}
.aboutUs--content-title {
  top: 7.9vh;
  left: 2vw;
  font-size: 2.5vh;
  color: grey;
  letter-spacing: 0.55vw;
}
.aboutUs--content-span {
  padding-top: 3.5vh;
  top: 1.75vh;
  left: 2vw; 
  font-size: 7vh;
  letter-spacing: 0.1vw;
}
.aboutUs--content-description {
  padding-top: 2.5vh;
  left: 0.3vw;
  line-height: 2.35vh;
  color: grey;
}
.aboutUs--content-line {
  top: 3.2vh;
  border-top: 2px solid black;
}
.aboutUs--content-image img {
  height: 54vh;
  width: auto;
}
.aboutUs--content-number {
  top: 5vh;
  left: 2vw;
  font-size: 2vh;
}
.aboutUs--content-image-line {
  left: 2.6vw;
  top:-0.3vh;
  height: 15vh;
  border-right: 2px solid black;
}
.whatWeDo {
  height: 75vh;
  font-family: 'roboto', sans serif;
}
.whatWeDo--content {
  top: 1vw;
  height: 71vh;
}
.whatWeDo--content-image {
  left: 2vw;
  top: 1.5vh;
}
.whatWeDo--content-image img {
  height: 54vh;
  width: auto;
}
.whatWeDo--content-title {
  padding-top: 9vh;
  font-size: 2.5vh;
  letter-spacing: 0.55vw;
  color: grey;
}
.whatWeDo--content-span {
  font-size: 7vh;
  top: -0.5vh;
  left: -0.8vw;
  letter-spacing: 0.2vw;
}
.whatWeDo--content-description {
  line-height: 2.35vh;
  color: grey;
}
.whatWeDo--content-number {
  top: 5.3vh;
  font-size: 2.5vh;
  left:-1vw; 
}
.whatWeDo--content-image-line {
  left: 2.8vw;
  height: 15vh;
  top: 0.9vh;
  border-left: 2px solid black;
}
.gallery {
  font-family: 'roboto', sans serif;
  height: 215vh;
}
.gallery--title {
  padding-top: 7.2vh;
  font-size: 2.3vh;
  left: 2vw;
  letter-spacing: 0.6vw;
  color: grey;
}
.gallery--span {
  font-size: 6.7vh;
  padding-top: 3.5vh;
  left: 2vw;
  letter-spacing: 0.25vw;
}
.gallery--menu {
  padding-top: 6.3vh;
  left: 1.5vw;
}
.p-2 {
  margin-right: 1.5vw;
}
.gallery--content-pics {
  margin: 15px;
}
.pic-10, .pic-11 {
  top:-37vh;
}
.projects {
  height: 54vh;
  font-family: 'roboto', sans serif;
}
.projects--title {
  padding-top: 5.3vh;
  font-size: 2.3vh;
  left: 2vw;
  letter-spacing:0.2vw;
}
.projects--logos {
  padding-top: 16vh;
  padding-left: 22vw;
}
.logo {
  margin-right: 4.5vw;
}
.footer {
  height: 16vh;
  color:white;
  background: rgb(18,18,18);
}
.footer--content {
  padding-top: 2.5vh;
  font-size: 2vh;
}
.footer--content-sm {
  padding-top: 4vh;
  font-size: 3vh;
}