@charset "utf-8";
@import "reset.css";

body {
  background: url("../assets/images/home_agency.jpg") no-repeat;
  background-size: cover;
  height: 558vh;
}
header {
  background: url("../assets/images/banner.jpg") no-repeat;
  background-size: cover;
  height: 104vh;
  opacity: 0.5;
  font-family: 'roboto';
  color: #ffffff;
  font-weight: bold;
  filter: grayscale(1);
}
.header--logo {
  padding: 4.6vh 0px 0px 3.5vw;
  letter-spacing: 2px;
  font-size: 3vh;
}
.header--menu {
  padding: 3.5vh 0px 0px 2.8vw ;
  letter-spacing: 2px;
  letter-spacing: 2px;
  font-size: 3vh;
}
.header--menu {
  padding: 3.5vh 0px 0px 2.8vw ;
  font-size: 5vh;
}
.header--title {
	top:23.5vh;
	left:2.8vw;
}
.header--title-greetings {
	font-size:2.5vh;
}
.header--title-name {
	padding-top:8.5vh;
	font-size:7.5vh;
	line-height:6.5vh;
}
.header--title-slogan {
	padding-top: 3vh;
	line-height: 2.5vh;
}
.header--title-arrow {
	font-size:3.5vh;
	padding-top:6vh;
	padding-left: 0.5vw;
}